:root {
    --darkgrey: #212121;
    --grey: #757575;
    --white: #FFFFFF;
    --blue: #2196F3;
    --black: #000000;
    --lightgrey: #2F303A;
    --white60: #FFFFFF;
    --sosowhite: #ECECEC;
    --white3: #F5F4FA;
}